*{
    font-family: 'PT Sans', sans-serif;
}
.SearchWidgetWarp {float: left;width: 100%; position:relative;}
.search-bar {margin-top: 35px;}
.tab-bar {margin-bottom:0px;margin-left:0px;}
.search-bar .tab-bar li {display: inline-block; background: #cf0100; border-radius: 0px; margin-left: -1px;  width: 120px;  text-align: center;}
.search-bar .tab-bar li.active {background: #3c3b6e; padding-top: 5px; border-radius: 5px 5px 0 0;}
.search-bar .tab-bar li.active a {  color: #fff; font-weight: 600;}
.search-bar .tab-bar li a{color:#fff;text-decoration:none;display: inline-block; padding-top: 10px;padding-bottom: 6px;padding-left: 10px;width: 100%; position:relative}
.search-bar .tab-bar li.active a .show-img{display:inline-block !important;margin-right:2px;}
.search-bar .tab-bar li.active a .hide-img{display:none !important;margin-right:2px;}
.plan-icon{margin-right: 10px;}
.search-bar .tab-content{ background: #fff;  padding: 5px;  border-radius: 0px 3px 3px 3px; margin-left: -1px;  margin-top: 0px; margin-bottom: 20px; padding-bottom: 15px;}
.list-inline{padding-left:0;margin-left:-5px;list-style:none}.list-inline>li{display:inline-block;padding-right:5px;padding-left:5px}
.roomDtls,.mart10{ margin-top: 10px;}
.marl10{margin-left:10px;}
.clor-light {color: #b1b1b1 !important;}
.trip-type{ font-size: 13px; font-weight: 600;}
/* switchstart */
.Switch {position: relative; font-size: 1.6em;  font-weight: bold; color: #ccc; height: 18px; border: 1px solid #858a8d;  background: #858a8d;  border-radius: 4px;  box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);  cursor: pointer;}
.Switch span {display: inline-block; width: 35px; }
.Switch span.On {color: #33d2da; }
.Switch .Toggle {position: absolute;top: 0px;background:#fff;box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);/* z-index: 999; */-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;-o-transition: all 0.15s ease-in-out;-ms-transition: all 0.15s ease-in-out;}
.Switch.Round{ padding: 0px 20px; border-radius: 26px; top: 3px; width: 50px;}
 .Switch.Round .Toggle { border-radius: 26px; width: 16px; height: 16px;}
 .Switch.Round.On .Toggle { left: 0%; background: #fff; }
.Switch.Round.Off .Toggle { left: 65%; }
/* end */

.location-box{padding: 5px 25px;}
.custom_input label{ font-size: 14px;  font-weight: 400;  margin-bottom: 0px; color: #a9adae;}
.location_wrapper{ border-bottom: 1px solid #d4d4d4; padding-bottom: 3px;}
.location_wrapper.calneder_icon_open #depart-cal{border-bottom: 1px solid #d4d4d4;padding-bottom: 3px;width: 66%;}
.location_wrapper.calneder_icon_open{background-position: 206px -84px;border: none;padding: 0;}
.location_wrapper .main_location{ width: 85%; border: 0px; height: 43px;  padding: 0px; background: transparent;  box-shadow: 0px 0px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;  color: #999;cursor:default; font-weight: 500; }
.location_wrapper .sub_location{ padding: 0px;  border: 0px; box-shadow: 0px 0px; font-size: 13px; height: 19px; background: transparent;}
.font37{ font-size: 37px;}

.flight-type-icon { min-height: 52px; position: absolute; width: 42px; margin-top: 24px; cursor: pointer; font-size: 40px; left:20px; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: rgba(238, 238, 238, 0);}
.location_wrapper.calneder_icon_open #depart-cal{border-bottom: 1px solid #d4d4d4;padding-bottom: 3px;width: 66%;}
.marb-5{margin-bottom:-5px;}

@media only screen and (min-width: 1100px) {
    .search-bar .tab-content{ box-shadow: 0px 0px 4px 0px #464444;}
    
}

@media only screen and (min-width: 760px) {
    .sel-name{margin-right:2px;}
    .sel-year, .sel-name{  font-size: 13px; color: #a9adae;}
}